<!-- Team Page
==========================================-->

<div id="team" class="text-center">
    <div class="overlay">
		<div class="container">
		  	<div class="section-title center">
                <h1>Notre <span class="color">Equipe</span></h1>
            	<p class="lead">Une bande d'étudiants lyonnais</p>
                <div class="line">
                    <hr>
                </div>
            </div>
		</div>
	</div>



	<div class="white-back" >

		<br/>
		<br/>
		<br/>
		<div class="col-sm-2 col-md-2">
		</div>
        <div class="col-sm-8 col-md-8">
	        <div class="flex-members">
	        	{{team-member photo="assets/img/team/quentin.jpg" name="Quentin Bayart" job="Co-founder / Product Owner"}}
	        	
	        	{{team-member photo="assets/img/team/pich.jpg" name="Arthur Pichot-Utrera" job="Co-founder / ?"}}

	        	{{team-member photo="assets/img/team/jolan.jpg" name="Jolan Cornevin" job="Co-founder / ?"}}

	        	{{team-member photo="assets/img/team/mene.jpg" name="Adrien Menella" job="Co-founder / gros?"}}

	        	{{team-member photo="assets/img/team/berthier.jpg" name="Guillaume Berthier" job="Co-founder / ?"}}

	        	{{team-member photo="assets/img/team/sarnette.jpg" name="Guillaume Sarnette" job="Co-founder / ?"}}

	        	{{team-member photo="assets/img/team/robin.jpg" name="Robin Royer" job="Rubyiste tata"}}
			</div>
		</div>
	</div>
		
</div>


{{outlet}}
